<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Projeto de Interface{% endblock %}</title>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
    <script src="{% static 'music/js/main.js' %}"></script>

<body>
<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'music:index' %}" style="color: #000000">Projeto de interface</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Itens do menu de navegação -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" name="album">
                <a class="nav-link {% if request.resolver_match.url_name == "index" %}active{% endif %}" href="{% url 'music:index' %}"><span class="material-icons">&#xe019;</span>Álbuns</a>
            </li>
        {% if user.is_authenticated %}
            <li class="nav-item" name="musicas">
                <a class="nav-link {% if request.resolver_match.url_name == "songs" %}active{% endif %}" href="{% url 'music:songs' %}"><span class="material-icons">&#xe405;</span>Músicas</a>
            </li>
        </ul>

        <!-- Barra de pesquisa -->
        <form class="form-inline my-2 my-lg-0" method="get" action="#">
            <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Procurar</button>
        </form>
        {% endif %}
        <!-- Itens a direita -->
        <div class="nav navbar-right">
                <ul class="navbar-nav ml-auto">

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "adicionar-album" %}active{% endif %}" href="{% url 'music:adicionar-album' %}" name="add_albums"><span
                                    class="material-icons">&#xe145;</span>Adicionar Álbum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'music:logout' %}"><span class="material-icons"> &#xe879;&nbsp;</span>Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'music:registro' %}"><span class="material-icons"> &#xe89e;&nbsp;</span>Cadastrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'music:login' %}"><span class="material-icons"> &#xe879;&nbsp;</span>Login</a>
                        </li>
                    {% endif %}
                </ul>
        </div>
    </div>

</nav>

{% block body %}
{% endblock %}
<div class="row">
    <div class="col-sm-12"><br><br><br></div>
</div>

<footer style="position: fixed; bottom: 0; width: 100%;">
<div style="text-align: center;">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="GK4WZ5LWDB9GS">
<input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
</form>
</div>

</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>