{% extends 'music/base.html' %}
{% block title %}Adicionar música{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="card card-default">
                <div class="card-body">
                        <a href="{% url 'music:detalhe' album.id %}">
                            {% if album.capa %}
                                <div style="padding-left: 50px; padding-top: 10px; border:1px">
                                    <img src="{{ album.capa.url }}" class="thumbnail " height="250px" width="250px">
                                </div>

                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                    <h3>{{ album.titulo }} <small>{{ album.genero }}</small></h3>
                    <h6>{{ album.artista }}</h6>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <!--<ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'music:detalhe' album.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'music:add-musica' album.id %}">Add New Song</a></li>
            </ul>-->

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Song</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="album" value="{{ album }}">
                        {% include 'music/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-10">
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}