{% extends 'music/base.html' %}
{% block title %}Registrar{% endblock %}


{% block body %}

    <div class="container-fluid">
        <div class="row card text-dark">
            <div class="col-sm-12 col-md-7">
                <div class=""><br>
                    <h3>Registrar</h3>
                    <h6><i>*preencha todos os campos</i></h6>
                    <div class="">

                        <form class="form-group" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'music/form-template.html' %}
                            <div class="form-group">
                                <br>
                                <div class="col-sm-offset-2 col-sm-10">
                                   <button type="submit" class="btn btn-success">Enviar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}